<script src="/javascripts/highcharts.js"></script>

<div class="div-padding" style="padding-top: 60px;">
    <form class="form-inline case-version-form">
        <div class="form-group">
            <label for="executeCaseVersion" class="case-version-label">Case Version</label>
            <select class="form-control" id="executeCaseVersion">
                <option value="0.32">Veris UPC SR0.32</option>
                <option value="0.8">Veris UPC SR0.8</option>
                <option value="1.0">Veris UPC SR1.0</option>
                <option value="1.1">Veris UPC SR1.1</option>
            </select>
        </div>
    </form>

    <form class="form-horizontal" role="form">
        <fieldset>
            <div id="today" class="col-sm-6"></div>
            <div id="lastweek" class="col-sm-6"></div>
        </fieldset>
        <fieldset>
            <div id="container"></div>
        </fieldset>
    </form>
</div>

<script type="text/javascript">

    $(document).ready(function() {

         $('#today').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            colors: [
                '#9F9F9D',
                '#F48038',
                '#46B454'
            ],
            title: {
                text: 'Today'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Rate',
                data: [
                    ['Skipped',   18],
                    ['Failed',       32],
                    {
                        name: 'Passed',
                        y: 60,
                        sliced: true,
                        selected: true
                    }
                ]
            }]
        });


        $('#lastweek').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Last week'
            },
            colors: [

                '#F48038',
                '#9F9F9D',
                '#46B454'
            ],
            xAxis: {
                categories: ['31-05-2015', '01-06-2015', '02-06-2015', '03-06-2015', '04-06-2015', '05-06-2015', '06-06-2015']
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Test Result Rate'
                }
            },
            tooltip: {
                pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
                shared: true
            },
            plotOptions: {
                column: {
                    stacking: 'percent'
                }
            },
            series: [{
                name: 'Failed',
                data: [5, 3, 4, 7, 2, 3, 1]
            }, {
                name: 'Skipped',
                data: [2, 2, 3, 2, 1, 1, 2]
            }, {
                name: 'Passed',
                data: [3, 4, 4, 2, 5, 4, 6]
            }]
        });

        $('#container').highcharts({
            title: {
                text: 'Last month',
                x: -20 //center
            },
            colors: [
                '#F48038',
                '#9F9F9D',

                '#46B454'
            ],
            xAxis: {
                categories: ['16/05 - 22/05', '23/05 - 29/05', '30/05 - 05/06', '06-06 - now']
            },
            yAxis: {
                title: {
                    text: 'Test Result Rate'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: '°C'
            },
            legend: {
                layout: 'horizontal',
                align: 'center',
                verticalAlign: 'bottom',
                borderWidth: 0
            },
            series: [{
                name: 'Failed',
                data: [7.0, 6.9, 9.5, 14.5]
            }, {
                name: 'Skipped',
                data: [-0.2, 0.8, 5.7, 11.3]
            }, {
                name: 'Passed',
                data: [-0.9, 0.6, 3.5, 8.4]
            }]
        });




    } );

</script>





