<script src="/javascripts/highcharts.js"></script>

<div class="div-padding">

    <div class="daohang">
        <span class="veris-product" style="margin-right: 10px;">Veris Product</span>
        <select class="btn btn-primary" id="product">
            <option value="1.0">Veris UPC</option>
            <option value="0.32">Veris CRM 7.0</option>
        </select>
        <i class="fa fa-angle-right" style="margin-left: 10px; margin-right: 10px;"></i>
        <select class="btn-primary">
            <optgroup label="UPC">
                <option>UPC</option>
                <option>PCM</option>
                <option>PCE3</option>
                <option>DB Change</option>
                <option>Cross PRD</option>
            </optgroup>
            <optgroup label="CRM">
                <option>Order</option>
                <option>Customer</option>
                <option>Contract</option>
            </optgroup>
        </select>
    </div>

    <div class="col-sm-12" style="padding: 20px;">
        <div class="col-sm-6">
            <div class="today-stats-chart">
                <i class="fa fa-clock-o"></i>
                Today
            </div>
            <div id="today" style="height: 300px;"></div>
        </div>
    </div>

    <div class="col-sm-12" style="padding: 20px;">
        <div class="col-sm-6">
            <div class="today-stats-chart">
                <i class="fa fa-area-chart"></i>
                Last Week
            </div>
            <div id="lastweek" style="height: 300px;"></div>
        </div>
        <div class="col-sm-6">
            <div class="today-stats-chart">
                <i class="fa fa-clock-o"></i>
                Top 10 in Last Week
            </div>
            <div id="today" style="height: 300px;"></div>
        </div>
    </div>

    <div class="col-sm-12" style="padding: 20px;">
        <div class="col-sm-6">
            <div class="today-stats-chart">
                <i class="fa fa-bar-chart"></i>
                Last Month
            </div>
            <div id="container" style="height: 300px;"></div>
        </div>
    </div>

</div>

<script type="text/javascript">

    $(document).ready(function() {

         $('#today').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            colors: [
                '#9F9F9D',
                '#F48038',
                '#46B454'
            ],
            title: {
                text: null
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Rate',
                data: [
                    ['Skipped',   18],
                    ['Failed',       32],
                    {
                        name: 'Passed',
                        y: 60,
                        sliced: true,
                        selected: true
                    }
                ]
            }]
        });


        $('#lastweek').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: null
            },
            colors: [

                '#F48038',
                '#9F9F9D',
                '#46B454'
            ],
            xAxis: {
                categories: ['31-05-2015', '01-06-2015', '02-06-2015', '03-06-2015', '04-06-2015', '05-06-2015', '06-06-2015']
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Test Result Rate'
                }
            },
            tooltip: {
                pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
                shared: true
            },
            plotOptions: {
                column: {
                    stacking: 'percent'
                }
            },
            series: [{
                name: 'Failed',
                data: [5, 3, 4, 7, 2, 3, 1]
            }, {
                name: 'Skipped',
                data: [2, 2, 3, 2, 1, 1, 2]
            }, {
                name: 'Passed',
                data: [3, 4, 4, 2, 5, 4, 6]
            }]
        });

        $('#container').highcharts({
            title: {
                text: 'Last month',
                x: -20 //center
            },
            colors: [
                '#F48038',
                '#9F9F9D',

                '#46B454'
            ],
            xAxis: {
                categories: ['16/05 - 22/05', '23/05 - 29/05', '30/05 - 05/06', '06-06 - now']
            },
            yAxis: {
                title: {
                    text: 'Test Result Rate'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                valueSuffix: '°C'
            },
            legend: {
                layout: 'horizontal',
                align: 'center',
                verticalAlign: 'bottom',
                borderWidth: 0
            },
            series: [{
                name: 'Failed',
                data: [7.0, 6.9, 9.5, 14.5]
            }, {
                name: 'Skipped',
                data: [-0.2, 0.8, 5.7, 11.3]
            }, {
                name: 'Passed',
                data: [-0.9, 0.6, 3.5, 8.4]
            }]
        });




    } );

</script>





