<link rel="stylesheet" href="/stylesheets/jquery.dataTables.min.css" media="screen">
<script src="/javascripts/jquery.dataTables.min.js"></script>
<script src="/javascripts/highcharts.js"></script>


<form class="form-horizontal" role="form">
    <fieldset>
        <legend>Overview</legend>

        <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>



    </fieldset>
</form>

<form class="form-horizontal" role="form" style="padding-bottom: 30px">
    <fieldset>
        <legend style="margin-bottom: 30px;">Overall Analysis</legend>
        <div class="col-sm-10 col-sm-offset-1">

            <table class="display" cellspacing="0" width="100%" id="testResultTable">
                <thead>
                <tr>
                    <th>Case Unit</th>
                    <th>Executor</th>
                    <th>Execution Time</th>
                    <th>Pass Rate</th>
                    <th>Detailed Report</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>low</td>
                    <td>zhoufan</td>
                    <td>31/05/2015 22:42</td>
                    <td>100%</td>
                    <td class='time-picking-table-action'><i class='glyphicon glyphicon-send' style='cursor: pointer;' onclick=''></i></td>
                </tr>
                <tr>
                    <td>medium+low</td>
                    <td>zhoufan</td>
                    <td>31/05/2015 22:42</td>
                    <td>98%</td>
                    <td class='time-picking-table-action'><i class='glyphicon glyphicon-send' style='cursor: pointer;' onclick=''></i></td>
                </tr>
                <tr>
                    <td>medium+low</td>
                    <td>zhoufan</td>
                    <td>31/05/2015 22:42</td>
                    <td>98%</td>
                    <td class='time-picking-table-action'><i class='glyphicon glyphicon-send' style='cursor: pointer;' onclick=''></i></td>
                </tr>
                <tr>
                    <td>medium+low</td>
                    <td>zhoufan</td>
                    <td>31/05/2015 22:42</td>
                    <td>98%</td>
                    <td class='time-picking-table-action'><i class='glyphicon glyphicon-send' style='cursor: pointer;' onclick=''></i></td>
                </tr>
                <tr>
                    <td>medium+low</td>
                    <td>zhoufan</td>
                    <td>31/05/2015 22:42</td>
                    <td>98%</td>
                    <td class='time-picking-table-action'><i class='glyphicon glyphicon-send' style='cursor: pointer;' onclick=''></i></td>
                </tr>
                <tr>
                    <td>medium+low</td>
                    <td>zhoufan</td>
                    <td>31/05/2015 22:42</td>
                    <td>98%</td>
                    <td class='time-picking-table-action'><i class='glyphicon glyphicon-send' style='cursor: pointer;' onclick=''></i></td>
                </tr>
                <tr>
                    <td>medium+low</td>
                    <td>zhoufan</td>
                    <td>31/05/2015 22:42</td>
                    <td>98%</td>
                    <td class='time-picking-table-action'><i class='glyphicon glyphicon-send' style='cursor: pointer;' onclick=''></i></td>
                </tr>
                <tr>
                    <td>medium+low</td>
                    <td>zhoufan</td>
                    <td>31/05/2015 22:42</td>
                    <td>98%</td>
                    <td class='time-picking-table-action'><i class='glyphicon glyphicon-send' style='cursor: pointer;' onclick=''></i></td>
                </tr>
                <tr>
                    <td>medium+low</td>
                    <td>zhoufan</td>
                    <td>31/05/2015 22:42</td>
                    <td>98%</td>
                    <td class='time-picking-table-action'><i class='glyphicon glyphicon-send' style='cursor: pointer;' onclick=''></i></td>
                </tr>
                <tr>
                    <td>medium+low</td>
                    <td>zhoufan</td>
                    <td>31/05/2015 22:42</td>
                    <td>98%</td>
                    <td class='time-picking-table-action'><i class='glyphicon glyphicon-send' style='cursor: pointer;' onclick=''></i></td>
                </tr>
                <tr>
                    <td>medium+low</td>
                    <td>zhoufan</td>
                    <td>31/05/2015 22:42</td>
                    <td>98%</td>
                    <td class='time-picking-table-action'><i class='glyphicon glyphicon-send' style='cursor: pointer;' onclick=''></i></td>
                </tr>
                <tr>
                    <td>medium+low</td>
                    <td>zhoufan</td>
                    <td>31/05/2015 22:42</td>
                    <td>98%</td>
                    <td class='time-picking-table-action'><i class='glyphicon glyphicon-send' style='cursor: pointer;' onclick=''></i></td>
                </tr>
                <tr>
                    <td>medium+low</td>
                    <td>zhoufan</td>
                    <td>31/05/2015 22:42</td>
                    <td>98%</td>
                    <td class='time-picking-table-action'><i class='glyphicon glyphicon-send' style='cursor: pointer;' onclick=''></i></td>
                </tr>
                <tr>
                    <td>medium+low</td>
                    <td>zhoufan</td>
                    <td>31/05/2015 22:42</td>
                    <td>98%</td>
                    <td class='time-picking-table-action'><i class='glyphicon glyphicon-send' style='cursor: pointer;' onclick=''></i></td>
                </tr>
                <tr>
                    <td>medium+low</td>
                    <td>zhoufan</td>
                    <td>31/05/2015 22:42</td>
                    <td>98%</td>
                    <td class='time-picking-table-action'><i class='glyphicon glyphicon-send' style='cursor: pointer;' onclick=''></i></td>
                </tr>
                <tr>
                    <td>medium+low</td>
                    <td>zhoufan</td>
                    <td>31/05/2015 22:42</td>
                    <td>98%</td>
                    <td class='time-picking-table-action'><i class='glyphicon glyphicon-send' style='cursor: pointer;' onclick=''></i></td>
                </tr>
                <tr>
                    <td>medium+low</td>
                    <td>zhoufan</td>
                    <td>31/05/2015 22:42</td>
                    <td>98%</td>
                    <td class='time-picking-table-action'><i class='glyphicon glyphicon-send' style='cursor: pointer;' onclick=''></i></td>
                </tr>
                <tr>
                    <td>medium+low</td>
                    <td>zhoufan</td>
                    <td>31/05/2015 22:42</td>
                    <td>98%</td>
                    <td class='time-picking-table-action'><i class='glyphicon glyphicon-send' style='cursor: pointer;' onclick=''></i></td>
                </tr>
                </tbody>
            </table>
        </div>
    </fieldset>
</form>

<script type="text/javascript">

    $(document).ready(function() {

        table = $('#testResultTable').DataTable({
            "searching": true,
            "paging":   true,
            "ordering": true,//为SEQ排序开，其他列禁用
            "info":     false,
            "scrollCollapse": false,
            "columnDefs": [
                {
                    "targets": [ 0 ],
                    "searchable": true,
                    "orderable": false
                },
                {
                    "targets": [ 1 ],
                    "searchable": true,
                    "orderable": false,
                    className: "center"
                },
                {
                    "targets": [ 2 ],
                    "searchable": true,
                    "orderable": false,
                    className: "center"
                },
                {
                    "targets": [ 3 ],
                    "searchable": true,
                    "orderable": true,
                    className: "center"
                },
                {
                    "targets": [ 4 ],
                    "searchable": false,
                    "orderable": false,
                    className: "center"
                }
            ]
        });


        $('#container').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Overall Pass Rate'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Browser share',
                data: [
                    ['Skipped',   18],
                    ['Failed',       32],
                    {
                        name: 'Passed',
                        y: 60,
                        sliced: true,
                        selected: true
                    }
                ]
            }]
        });


    } );

</script>





