<div class="div-padding">

    <div class="daohang">
        <span class="veris-product" style="margin-right: 10px;">Veris Product</span>
        <select class="btn btn-primary" id="product">
            <option value="1.0">Veris UPC</option>
            <option value="0.32">Veris CRM 7.0</option>
        </select>
        <i class="fa fa-angle-right" style="margin-left: 10px; margin-right: 10px;"></i>
        <select class="btn-primary">
            <optgroup label="UPC">
                <option>UPC</option>
                <option>PCM</option>
                <option>PCE3</option>
                <option>DB Change</option>
                <option>Cross PRD</option>
            </optgroup>
            <optgroup label="CRM">
                <option>Order</option>
                <option>Customer</option>
                <option>Contract</option>
            </optgroup>
        </select>
    </div>


    <div style="padding: 20px;
  background-color: #FFF;
  border-radius: 5px;
}">
        <div id="toolbar" class="col-sm-12" style="border-bottom: 1px solid #DDD;">
            <div class="input-group col-sm-3 col-sm-offset-9" style="padding-right: 10px; padding-top: 10px; padding-bottom: 10px;">
                <input name="userCase" type="text" class="form-control" placeholder="Search For...">
                        <span class="input-group-btn">
                            <button id="search" class="btn btn-primary" type="button">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </span>
            </div>
        </div>

        <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Case Set</th>
                    <th>Executor</th>
                    <th>Execution Time</th>
                    <th>Pass Rate</th>
                    <th>Detailed Report</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>UPC Offer Case Set</td>
                    <td>tianhj</td>
                    <td>2011/04/25</td>
                    <td>61%</td>
                    <td class='time-picking-table-action'><i class='glyphicon glyphicon-send' style='cursor: pointer;' onclick=''></i></td>
                </tr>
                <tr>
                    <td>UPC Product Case Set</td>
                    <td>hanll</td>
                    <td>2011/04/25</td>
                    <td>63%</td>
                    <td class='time-picking-table-action'><i class='glyphicon glyphicon-send' style='cursor: pointer;' onclick=''></i></td>
                </tr>
                <tr>
                    <td>UPC Product Case Set</td>
                    <td>hanll</td>
                    <td>2011/04/25</td>
                    <td>66%</td>
                    <td class='time-picking-table-action'><i class='glyphicon glyphicon-send' style='cursor: pointer;' onclick=''></i></td>
                </tr>
            </tbody>
        </table>

    </div>

</div>

<script type="text/javascript">

    $(document).ready(function() {
        $('#example').dataTable( {
            "paging":   true,
            "ordering": false,
            "info":     false,
            "searching": false,
            "info":     false,
            "bLengthChange": false
        } );
    } );


</script>