<link rel="stylesheet" href="stylesheets/bootstrap-datetimepicker.min.css" media="screen">
<script src="/javascripts/bootstrap-datetimepicker.min.js"></script>

<div class="col-sm-12" style="padding-left: 0px; padding-right: 0px;" ng-controller="upcExecuteController">

    <div class="daohang">
        <span class="veris-product" style="margin-right: 10px;">Veris Product</span>
        <select class="btn btn-primary" id="product">
            <option value="1.0">Veris UPC</option>
            <option value="0.32">Veris CRM 7.0</option>
        </select>
        <i class="fa fa-angle-right" style="margin-left: 10px; margin-right: 10px;"></i>
        <select class="btn-primary">
            <optgroup label="UPC">
                <option>UPC</option>
                <option>PCM</option>
                <option>PCE3</option>
                <option>DB Change</option>
                <option>Cross PRD</option>
            </optgroup>
            <optgroup label="CRM">
                <option>Order</option>
                <option>Customer</option>
                <option>Contract</option>
            </optgroup>
        </select>
    </div>

    <div style="padding: 20px;">


        <div role="tabpanel" style="padding: 20px; background-color: #fff; border-radius: 5px; margin-bottom: 40px;">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" id="execTab">
                <li role="presentation" class="active">
                    <a href="#executeTab" aria-controls="executeTab" role="tab" data-toggle="tab">
                        <i class="fa fa-play-circle"></i>
                        Execution
                    </a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">

                <div role="tabpanel" class="tab-pane fade in active" id="executeTab">

                    <table class="table table-bordered" id="123">
                        <tbody>
                        <tr>
                            <td style="border-top: 1px solid #FFF;">
                                Case Set
                            </td>
                            <td style="border-top: 1px solid #FFF;">
                                <select class="form-control" id="executeCaseVersion">
                                    <option>UPC Offer Case Set</option>
                                    <option>UPC Product Case Set</option>
                                    <option>UPC Service Case Set</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Execution Environment
                            </td>
                            <td >
                                <select class="form-control" id="executeCaseVersion">
                                    <option>功能测试环境</option>
                                    <option>集成环境</option>
                                    <option>准发布环境</option>
                                </select>
                            </td>
                        </tr>
                        <!--
                        <tr ng-repeat="caseGroup in caseGroups" >
                            <td>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="caseGroup">
                                        {{ caseGroup.category }}
                                    </label>
                                </div>
                            </td>
                            <td>track by $index
                                <label class="checkbox-inline" ng-repeat="option in caseGroup.groups">
                                    <input type="checkbox" name="funcCheckBox" value="{{ option.group }}">
                                    {{ option.group }}
                                </label>
                            </td>
                        </tr>
                        -->

                        <tr>
                            <td>
                                CC Report
                            </td>
                            <td>
                                <select id="singleExecutionCC" multiple="multiple" style="width: 100%;">
                                    <option value="hanll">韩林林</option>
                                    <option value="tianhj">田慧健</option>
                                    <option value="chengmeng">陈猛</option>
                                    <option value="zhaocheng">赵晨</option>
                                    <option value="caiwm">蔡为铭</option>
                                    <option value="zhoufan">周凡</option>
                                </select>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div style="text-align: center;">
                        <button type="button" class="btn btn-primary" id="execute">Execute</button>
                    </div>


                </div>

            </div>
        </div>

        <div role="tabpanel" style="padding: 20px; background-color: #fff; border-radius: 5px;">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" id="myTab">
                <li role="presentation" class="active">
                    <a href="#scheduleTask" aria-controls="scheduleTask" role="tab" data-toggle="tab">
                        <i class="fa fa-tasks"></i>
                        Schedule Task
                    </a>
                </li>
                <li role="presentation">
                    <a href="#newTask" aria-controls="newTask" role="tab" data-toggle="tab">
                        <i class="fa fa-pencil-square-o"></i>
                        New Schedule
                    </a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="scheduleTask">

                    <!-- cell-border -->
                    <table class="row-border" id="scheduleTaskTable" style="clear: both" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Case Set</th>
                            <th>Schedule Type</th>
                            <th>Effective Pattern</th>
                            <th>Creator</th>
                            <th>Control</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>UPC Offer Case Set</td>
                            <td>Interval</td>
                            <td>Everyday 06:45</td>
                            <td>hanll</td>
                            <td>
                                <a><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>UPC Product Case Set</td>
                            <td>Timing</td>
                            <td>Every 23:05 From 06-12 To 06-24</td>
                            <td>hanll</td>
                            <td>

                                <a><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>UPC Service Case Set</td>
                            <td>Timing</td>
                            <td>Every 06:00 From 06-10 To 06-23</td>
                            <td>tianhj</td>
                            <td>
                                <a><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div role="tabpanel" class="tab-pane fade" id="newTask">

                    <form class="form-horizontal" style="padding-top: 20px;">
                        <div class="form-group">
                            <label for="schedule" class="col-sm-1 control-label">Name</label>
                            <div class="col-sm-4">
                                <input type="email" class="form-control input-sm" id="schedule" placeholder="">
                            </div>
                            <label for="scheduleType" class="col-sm-1 control-label">Type</label>
                            <div class="col-sm-4">
                                <select class="form-control input-sm" id="scheduleType">
                                    <option value="W">自动执行</option>
                                    <option value="U">定时执行</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" id="timingFormGroup">
                            <label class="col-sm-1 control-label">Timing</label>
                            <div class="col-sm-4">
                                <div class="input-group date form_time" data-date="" data-date-format="hh:ii" data-link-field="timePicking" data-link-format="hh:ii">
                                    <input id="timePickingReadonly" class="form-control" size="16" type="text" value="" readonly>
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                                </div>
                                <input id="timePicking" type="hidden" value="" />
                            </div>
                        </div>
                        <div id="intervalFormGroup" style="display: none;">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Start Time</label>
                                <div class="col-sm-4">
                                    <input id="startTime" type="text" value="" readonly class="form-control input-sm">
                                </div>
                                <label class="col-sm-1 control-label">End Time</label>
                                <div class="col-sm-4">
                                    <input id="endTime" type="text" value="" readonly class="form-control input-sm">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">Interval</label>
                                <div class="col-sm-4">
                                    <input type="text" id="interval" value="" class="form-control input-sm" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">Environment</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="">
                                    <option>功能测试环境</option>
                                    <option>集成环境</option>
                                    <option>准发布环境</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">CC Report</label>
                            <div class="col-sm-9">
                                <select id="cc" multiple="multiple" style="width: 100%;">
                                    <option value="hanll">韩林林</option>
                                    <option value="tianhj">田慧健</option>
                                    <option value="chengmeng">陈猛</option>
                                    <option value="zhaocheng">赵晨</option>
                                    <option value="caiwm">蔡为铭</option>
                                    <option value="zhoufan">周凡</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">Description</label>
                            <div class="col-sm-9">
                                <textarea id="description" class="form-control input-sm" rows="2" placeholder="最美的不是下雨天，是曾与你躲过雨的屋檐"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-10">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>

                    <!--
                    <div class="col-sm-offset-3">
                        <label class="col-sm-2 control-label" for="caseVersion">Case Set</label>
                        <div class="col-sm-2">
                            <select class="form-control" id="caseVersion">
                                <option>UPC Offer Case Set</option>
                                <option>UPC Product Case Set</option>
                                <option>UPC Service Case Set</option>
                            </select>
                        </div>
                        <label class="col-sm-1 control-label time-picking-text" for="timePicking">Time Picking</label>
                        <div class="col-sm-2">
                            <div class="input-group date form_time" data-date="" data-date-format="hh:ii" data-link-field="timePicking" data-link-format="hh:ii">
                                <input id="timePickingReadonly" class="form-control" size="16" type="text" value="" readonly>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
                            </div>
                            <input id="timePicking" type="hidden" value="" /><br/>
                        </div>

                        <div class="col-sm-2">
                            <button type="button" class="btn btn-primary" onclick="addNewSchedule()">Submit</button>
                        </div>
                    </div>
                    -->

                </div>
            </div>
        </div>

    </div>

</div>

<script type="text/javascript">

    $(function () {

        $('#cc').select2();
        $('#singleExecutionCC').select2();

        $("#scheduleType").change(function(){

            if($("#scheduleType").val() == 'W') {
                $('#timingFormGroup').css('display', '');
                $('#intervalFormGroup').css('display', 'none');
            } else if ($("#scheduleType").val() == 'U') {
                $('#timingFormGroup').css('display', 'none');
                $('#intervalFormGroup').css('display', '');
            }

        });

        $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        $('#execTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        var scheduleTaskTable = $('#scheduleTaskTable').dataTable( {
            "paging":   true,
            "ordering": true,
            "info":     false,
            "searching": false,
            "info":     false,
            "bLengthChange": false,
            "columnDefs": [
                {
                    "targets": [ 0 ],
                    "searchable": false,
                    "orderable": false
                },
                {
                    "targets": [ 1 ],
                    "searchable": false,
                    "orderable": true,
                    className: "center"
                },
                {
                    "targets": [ 2 ],
                    "searchable": true,
                    "orderable": false,
                    className: "center"
                },
                {
                    "targets": [ 3 ],
                    "searchable": true,
                    "orderable": false,
                    "visible": true,
                    className: "center"
                },
                {
                    "targets": [ 4 ],
                    "searchable": true,
                    "orderable": false,
                    "visible": true,
                    className: "center"
                }
            ]
        } );


        $('#functionalRadio').bind("click", function(){
            $("[name='funcCheckBox']").attr("disabled", false);
            $("[name='priorityCheckBox']").attr("disabled", true);
            $("[name='priorityCheckBox']").attr("checked", false);
        });

        $('#PriorityRadio').bind("click", function(){
            $("[name='funcCheckBox']").attr("disabled", true);
            $("[name='priorityCheckBox']").attr("disabled", false);
            $("[name='funcCheckBox']").attr("checked", false);
        });

        $('#allRadio').bind("click", function(){
            $("[name='funcCheckBox']").attr("disabled", true);
            $("[name='priorityCheckBox']").attr("disabled", true);
            $("[name='funcCheckBox']").attr("checked", false);
            $("[name='priorityCheckBox']").attr("checked", false);
        });

        $('#execute').bind("click", function(){
            var caseVersion = $('#executeCaseVersion').val();
            var caseGroups = [];
            if($('#allRadio').is(':checked')) {
                caseGroups.push($('#allRadio').val());
            } else {
                $("[type='checkbox']").each(function(index, data){
                    if(data.checked){
                        caseGroups.push(data.value);
                    }
                });
            }

        });

    });

    $("#startTime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});
    $("#endTime").datetimepicker({format: 'yyyy-mm-dd hh:ii'});

    function whetherSendEmail() {
        if($('#sendEmailCheckBox').is(':checked')){
            $('#emailTextarea').attr("disabled", false);
        } else {
            $('#emailTextarea').attr("disabled", true);
        }
    }


    $('.form_time').datetimepicker({
        weekStart: 1,
        todayBtn:  false,
        autoclose: true,
        todayHighlight: false,
        startView: 1,
        minView: 0,
        maxView: 1,
        forceParse: 0
    });

    /**
     * TimePicking表格操作
     */
    var TimePickingTableUtil = (function(){
        return {
            /**
             * 新增一行数据
             */
            addNewRow:function(newRowJson){
                var table = $("#timePickingTable");
                var row = $("<tr></tr>");
                var tr = $("<td>"+ newRowJson.caseVersion +"</td><td>"+ newRowJson.time +"</td><td class='time-picking-table-action'><i class='glyphicon glyphicon-trash' style='cursor: pointer;' onclick='delRow($(this))'></i></td>");
                row.append(tr);
                table.append(row);
            },
            /**
             * 删除一行数据
             */
            delRow:function(obj){
                $(obj).parent().parent().remove();
            }
        }

    })();

    function addNewSchedule() {
        if($('#timePicking').val()) {
            var newRowJson = {};
            newRowJson.caseVersion = $('#caseVersion').val();
            newRowJson.time = $('#timePicking').val();
            TimePickingTableUtil.addNewRow(newRowJson);
            $('#timePicking').val('');
            $('#timePickingReadonly').val('');
        }
    }

    function delRow(obj) {
        TimePickingTableUtil.delRow(obj);
    }
</script>

