<div style="padding-top: 100px;background-color: #3c8dbc; height: 300px; margin-left: -15px; margin-right: -15px;" class="div-padding" ng-controller="loginController">
    <form class="form-signin" ng-submit="signin()">
        <div id="owl-login" class="">
            <div class="hand"></div>
            <div class="hand hand-r"></div>
            <div class="arms">
                <div class="arm"></div>
                <div class="arm arm-r"></div>
            </div>
        </div>

        <div class="login-form-under-owl">
            <!--<input type="email" ng-model="user.account" class="form-control" placeholder="NT account" required autofocus >-->
            <div class="input-group" style="margin-bottom: 10px;">
                <input type="text" class="form-control" ng-model="user.account" placeholder="NT account" aria-describedby="account">
                <span class="input-group-addon" id="account">@asiainfo.com</span>
            </div>

            <!--<span class="help-block">ERROR</span>-->
            <input type="password" id="password" ng-model="user.password" class="form-control" placeholder="Password" required>

            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="user.remenber"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

        </div>
    </form>
    <script type="text/javascript">

        $(function(){
            $("#password").focus(function(){
                $("#owl-login").addClass("password");
            }).blur(function(){
                        $("#owl-login").removeClass("password");
                    });
        })

    </script>
</div>




