/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    /*padding-top: 50px;*/
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
}


/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-left: -20px;
    font-size: 15px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}


/*
 * Main content
 */

.main {
    /*padding: 15px;*/
}
@media (min-width: 768px) {
    .main {
        /*padding-right: 40px;*/
        /*padding-left: 40px;*/
    }
}
.main .page-header {
    margin-top: 3px;
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
    color: #0C3C26;
    font-style: normal;
    font-size: 36px;
    font-size: 3.6rem;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}


/*****index.jsp Start*******/
.sidebar-br{
    border-bottom: 1px solid #eee;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*****index.jsp End*******/

/*****UPCExecution.jsp Start*******/
.index-p{
    padding-left: 0px;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}

.time-picking-form{
    padding-left: 70px;
}

.time-picking-text{
    text-align: center;
    width: inherit;
}

.time-picking-table{
    width: 60%;
    padding: 20px 20px 20px 0px;
}

.time-picking-table-action{
    text-align: center;
}
/*****UPCExecution.jsp End*******/

/*****UPCAnalytics.jsp Start*******/

input[type=search] {
    !important;
}

table.dataTable tbody td {
    padding: 8px 20px !important;
}

.case-version-label {
    padding-right: 20px;
    padding-bottom: 20px;
    font-weight: normal;
    font-size: 18px;
}

.case-version-form {
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

/*****UPCAnalytics.jsp End*******/

/*****UPC login.jsp Start*******/
.form-signin {
    max-width: 380px;
    margin: 0 auto;
}

#owl-login {
    background-image: url("/images/owl-login.png");
    -webkit-background-size: 211px 108px;
    -moz-background-size: 211px 108px;
    width: 211px;
    height: 108px;
    position: absolute;
    top: 90px;
    left: 50%;
    margin-left: -111px;
}

.hand {
    width: 34px;
    height: 34px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    background-color: #472d20;
    -webkit-transform: scaleY(0.6);
    -moz-transform: scaleY(0.6);
    -o-transform: scaleY(0.6);
    -ms-transform: scaleY(0.6);
    transform: scaleY(0.6);
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    position: absolute;
    left: 14px;
    bottom: -8px;
}

.hand-r {
    left: 170px;
}

#owl-login .arms {
    top: 58px;
    position: absolute;
    width: 100%;
    height: 41px;
    overflow: hidden;
}

#owl-login .arms .arm {
    width: 40px;
    height: 65px;
    position: absolute;
    left: 20px;
    top: 40px;
    background-image: url("/images/owl-login-arm.png");
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

#owl-login .arms .arm.arm-r {
    -webkit-transform: rotate(20deg) scaleX(-1);
    -moz-transform: rotate(20deg) scaleX(-1);
    -o-transform: rotate(20deg) scaleX(-1);
    -ms-transform: rotate(20deg) scaleX(-1);
    transform: rotate(20deg) scaleX(-1);
    left: 158px;
}

#owl-login.password .hand {
    -webkit-transform: translateX(42px) translateY(-15px) scale(0.7);
    -moz-transform: translateX(42px) translateY(-15px) scale(0.7);
    -o-transform: translateX(42px) translateY(-15px) scale(0.7);
    -ms-transform: translateX(42px) translateY(-15px) scale(0.7);
    transform: translateX(42px) translateY(-15px) scale(0.7);
}

#owl-login.password .hand.hand-r {
    -webkit-transform: translateX(-42px) translateY(-15px) scale(0.7);
    -moz-transform: translateX(-42px) translateY(-15px) scale(0.7);
    -o-transform: translateX(-42px) translateY(-15px) scale(0.7);
    -ms-transform: translateX(-42px) translateY(-15px) scale(0.7);
    transform: translateX(-42px) translateY(-15px) scale(0.7);
}

#owl-login.password .arms .arm {
    -webkit-transform: translateY(-40px) translateX(40px);
    -moz-transform: translateY(-40px) translateX(40px);
    -o-transform: translateY(-40px) translateX(40px);
    -ms-transform: translateY(-40px) translateX(40px);
    transform: translateY(-40px) translateX(40px);
}

#owl-login.password .arms .arm.arm-r {
    -webkit-transform: translateY(-40px) translateX(-40px) scaleX(-1);
    -moz-transform: translateY(-40px) translateX(-40px) scaleX(-1);
    -o-transform: translateY(-40px) translateX(-40px) scaleX(-1);
    -ms-transform: translateY(-40px) translateX(-40px) scaleX(-1);
    transform: translateY(-40px) translateX(-40px) scaleX(-1);
}

.login-form-under-owl {
    overflow: hidden;
    padding: 30px;
    background-color: #F5F5F5;
    margin-top: 90px;
}

/*****UPC login.jsp End*******/

/***** footer.html Start*******/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
}
/***** footer.html End*******/

/***** Common Start*******/

/***** Common End*******/

#top-nav.skin-1 {
    background: #3c8dbc;
    border-bottom-color: #3b89b6;
}

#top-nav.fixed {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
}

#top-nav {
    height: 45px;
    padding-right: 10px;
    background-color: #fff;
    white-space: nowrap;
    min-width: 310px;
    border-bottom: 1px solid #f2f2f2;
}

#top-nav.skin-1 .brand {
    color: #c3e3f5;
    background: #3c8dbc;
}

#top-nav .brand {
    display: block;
    text-align: center;
    font-size: 17px;
    line-height: 45px;
    width: 194px;
    color: #999;
    background: #323447;
    float: left;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

#top-nav .navbar-toggle {
    margin: 3px 0 0;
}

#top-nav.skin-1 .navbar-toggle .icon-bar {
    background-color: #fff;
}

#top-nav .navbar-toggle .icon-bar {
    display: block;
    width: 18px;
    height: 2px;
    margin-bottom: 3px;
    background-color: #999;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
}

#top-nav .navbar-toggle.hide-menu {
    display: block;
    margin-top: 5px;
}

#top-nav .nav-notification {
    list-style: none;
    margin: 0;
    float: right;
    white-space: nowrap;
    font-size: 12px;
}

ul {
    padding: 0;
}

#top-nav .nav-notification>li:last-child {
    border-right: none;
}

#top-nav .nav-notification>li {
    display: block;
    position: relative;
    float: left;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}

#top-nav.skin-1 .nav-notification > li > a {
    color: #c3e3f5;
}

.animation-delay4 {
    animation-delay: .7s;
    -webkit-animation-delay: .7s;
    -moz-animation-delay: .7s;
    -ms-animation-delay: .7s;
    -o-animation-delay: .7s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
}

.bounceIn {
    animation-name: bounceIn;
    -webkit-animation-name: bounceIn;
    -moz-animation-name: bounceIn;
    -ms-animation-name: bounceIn;
    -o-animation-name: bounceIn;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
}

.notification-label {
    position: absolute;
    display: inline-block;
    background: #fc8675;
    width: 15px;
    height: 15px;
    padding: 2px;
    color: #fff;
    font-size: 9px;
    text-align: center;
    border-radius: 50em;
    -moz-border-radius: 50em;
    -webkit-border-radius: 50em;
    top: 7px;
    right: 5px;
    line-height: 9px;
    text-shadow: none;
}

#top-nav .nav-notification>li>a {
    display: block;
    position: relative;
    padding: 13px 15px;
    color: #999;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
}



/******* Side Bar START *******/

aside.skin-1 {
    background: #efefef;
}

aside.fixed {
    position: fixed;
}

aside {
    position: absolute;
    display: block;
    float: left;
    width: 194px;
    z-index: 100;
    padding-top: 45px;
    bottom: 0;
    left: 0;
    background-color: #323447;
    height: 100%;
}

aside.skin-1 .sidebar-inner {
    border-right-color: #dfdfdf;
}
aside .sidebar-inner {
    border-right: 1px solid #272938;
}

aside .main-menu {
    height: 100%;
}

aside .main-menu>ul {
    margin: 0;
    list-style: none;
}

aside.skin-1 .main-menu > ul > li.active, aside.skin-1 .main-menu > ul > li.display {
    border-top-color: #dfdfdf;
}

aside.skin-1 .main-menu > ul > li {
    border-top-color: #f4f4f4;
    border-bottom-color: #dfdfdf;
}

aside .main-menu>ul>li.active {
    border-top: 1px solid #323447;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

aside .main-menu>ul>li {
    position: relative;
    border-top: 1px solid #34364a;
    border-bottom: 1px solid #2c2d3e;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
}

aside.skin-1 .main-menu > ul > li.active > a, aside.skin-1 .main-menu > ul > li.display > a {
    background: #f9f9f9;
}

aside.skin-1 .main-menu > ul > li > a {
    color: #777;
    font-size: 16px;
}

aside .main-menu>ul>li.active>a {
    background: #2c2d3e;
    box-shadow: 0 0 3px rgba(0,0,0,.15) inset;
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.15) inset;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.15) inset;
}

aside .main-menu>ul>li>a {
    position: relative;
    display: block;
    color: #e6f1f7;
    font-size: 13px;
    padding: 13px 10px 13px 13px;
    text-shadow: 0 1px 1px rgba(0,0,0,.05);
    transition: color .5s ease,background .5s ease;
    -webkit-transition: color .5s ease,background .5s ease;
    -moz-transition: color .5s ease,background .5s ease;
    -ms-transition: color .5s ease,background .5s ease;
    -o-transition: color .5s ease,background .5s ease;
}

aside .main-menu>ul>li>a .text {
    margin-left: 10px;
}


i {
    padding-right: 5px;
}



/******* Side Bar END *******/


/******* Main Container START *******/

#main-container {
    position: relative;
    min-height: 800px;
    padding-top: 45px;
    margin-left: 194px;
}


/******* Main Container END *******/



.padding-md {
    padding: 20px !important;
}


/******* Case_Set START *******/

.page-content {
    background: #fff;
    padding: 20px;
    margin-top: 20px;
    border-color: #f1f5fc;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}


.panel-tab {
    background: #f9f9f9;
}

.tab-bar {
    list-style: none;
    margin: 0;
}

.tab-bar>li {
    display: inline-block;
    float: left;
    margin-bottom: -1px;
}

.tab-bar>li a {
    display: block;
    padding: 10px;
    color: #ccc;
    text-shadow: 0 1px #fff;
    transition: color .2s ease;
    -webkit-transition: color .2s ease;
    -moz-transition: color .2s ease;
    -ms-transition: color .2s ease;
    -o-transition: color .2s ease;
}

.panel-body {
    padding: 15px;
}

.panel.panel-default .panel-footer {
    background: #fff;
    border-color: #f1f5fc;
    color: #777;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

#wizardDemo2 > .active {
    background-color: white;
}


/******* Case_Set END *******/


/******* Overall Trends START *******/
.today-stats-chart {
    background-color: #65CEA7;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.lastweek-stats-chart {
    background-color: #65CEA7;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}





/******* Overall Trends END *******/


/******* 产品导航 START *******/

.daohang {
    padding-bottom: 10px;
    margin-bottom: 20px;
    background-color: #EEE;
    border-bottom: 1px solid #dfdfdf;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: -15px;
    margin-right: -15px;
}

.veris-product {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: inherit;
    color: #333;
}



/******* 产品导航 END *******/


/******* User Case START *******/
.user-case-panel {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
}



/******* User Case END *******/



aside.skin-1 .main-menu > ul > li.active,
aside.skin-1 .main-menu > ul > li.display {
    border-top-color: #dfdfdf;
}
aside.skin-1 .main-menu > ul > li.active > a,
aside.skin-1 .main-menu > ul > li.display > a {
    background: #f9f9f9;
}



@media (min-width: 768px) {
    #wrapper.sidebar-hide aside {
        left: -194px
    }
    #wrapper.sidebar-hide #main-container,#wrapper.sidebar-hide footer {
        margin-left: 0
    }
}








