/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    /*padding-top: 50px;*/
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
}


/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-left: -20px;
    font-size: 15px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    /*padding: 15px;*/
}
@media (min-width: 768px) {
    .main {
        /*padding-right: 40px;*/
        /*padding-left: 40px;*/
    }
}
.main .page-header {
    margin-top: 3px;
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
    color: #0C3C26;
    font-style: normal;
    font-size: 36px;
    font-size: 3.6rem;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}


/*****index.jsp Start*******/
.sidebar-br{
    border-bottom: 1px solid #eee;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*****index.jsp End*******/

/*****UPCExecution.jsp Start*******/
.index-p{
    padding-left: 0px;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}

.time-picking-form{
    padding-left: 70px;
}

.time-picking-text{
    text-align: center;
    width: inherit;
}

.time-picking-table{
    width: 60%;
    padding: 20px 20px 20px 0px;
}

.time-picking-table-action{
    text-align: center;
}

.box-shadow-table{
    -webkit-box-shadow: 0 0 10px rgba(158, 160, 179, 0.5);
    box-shadow: 0 0 10px rgba(158, 160, 179, 0.5);
}
/*****UPCExecution.jsp End*******/

/*****UPCAnalytics.jsp Start*******/

input[type=search] {
    !important;
}

table.dataTable tbody td {
    padding: 8px 20px !important;
}

.case-version-label {
    padding-right: 20px;
    padding-bottom: 20px;
    font-weight: normal;
    font-size: 18px;
}

.case-version-form {
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}

/*****UPCAnalytics.jsp End*******/

/*****UPC login.jsp Start*******/
.form-signin {
    max-width: 380px;
    margin: 0 auto;
}

#owl-login {
    background-image: url("/images/owl-login.png");
    -webkit-background-size: 211px 108px;
    -moz-background-size: 211px 108px;
    width: 211px;
    height: 108px;
    position: absolute;
    top: 90px;
    left: 50%;
    margin-left: -111px;
}

.hand {
    width: 34px;
    height: 34px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    background-color: #472d20;
    -webkit-transform: scaleY(0.6);
    -moz-transform: scaleY(0.6);
    -o-transform: scaleY(0.6);
    -ms-transform: scaleY(0.6);
    transform: scaleY(0.6);
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    position: absolute;
    left: 14px;
    bottom: -8px;
}

.hand-r {
    left: 170px;
}

#owl-login .arms {
    top: 58px;
    position: absolute;
    width: 100%;
    height: 41px;
    overflow: hidden;
}

#owl-login .arms .arm {
    width: 40px;
    height: 65px;
    position: absolute;
    left: 20px;
    top: 40px;
    background-image: url("/images/owl-login-arm.png");
    -webkit-transition: 0.3s ease-out;
    -moz-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    -ms-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

#owl-login .arms .arm.arm-r {
    -webkit-transform: rotate(20deg) scaleX(-1);
    -moz-transform: rotate(20deg) scaleX(-1);
    -o-transform: rotate(20deg) scaleX(-1);
    -ms-transform: rotate(20deg) scaleX(-1);
    transform: rotate(20deg) scaleX(-1);
    left: 158px;
}

#owl-login.password .hand {
    -webkit-transform: translateX(42px) translateY(-15px) scale(0.7);
    -moz-transform: translateX(42px) translateY(-15px) scale(0.7);
    -o-transform: translateX(42px) translateY(-15px) scale(0.7);
    -ms-transform: translateX(42px) translateY(-15px) scale(0.7);
    transform: translateX(42px) translateY(-15px) scale(0.7);
}

#owl-login.password .hand.hand-r {
    -webkit-transform: translateX(-42px) translateY(-15px) scale(0.7);
    -moz-transform: translateX(-42px) translateY(-15px) scale(0.7);
    -o-transform: translateX(-42px) translateY(-15px) scale(0.7);
    -ms-transform: translateX(-42px) translateY(-15px) scale(0.7);
    transform: translateX(-42px) translateY(-15px) scale(0.7);
}

#owl-login.password .arms .arm {
    -webkit-transform: translateY(-40px) translateX(40px);
    -moz-transform: translateY(-40px) translateX(40px);
    -o-transform: translateY(-40px) translateX(40px);
    -ms-transform: translateY(-40px) translateX(40px);
    transform: translateY(-40px) translateX(40px);
}

#owl-login.password .arms .arm.arm-r {
    -webkit-transform: translateY(-40px) translateX(-40px) scaleX(-1);
    -moz-transform: translateY(-40px) translateX(-40px) scaleX(-1);
    -o-transform: translateY(-40px) translateX(-40px) scaleX(-1);
    -ms-transform: translateY(-40px) translateX(-40px) scaleX(-1);
    transform: translateY(-40px) translateX(-40px) scaleX(-1);
}

.login-form-under-owl {
    overflow: hidden;
    padding: 30px;
    background-color: #F5F5F5;
    margin-top: 90px;
}

/*****UPC login.jsp End*******/

/***** footer.html Start*******/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20px;
}
/***** footer.html End*******/