<!-- FOOTER -->
<!--<footer class="text-center col-sm-offset-1 navbar-fixed-bottom" style="margin-bottom: 5px;">
    Designed and built with all the love in the world by <a target="_blank" href="http://zhoufan.org">@caiwm</a> and  <a target="_blank" href="http://zhoufan.org">@zhoufan</a>
</footer>-->




<div class="footer">
    <div class="text-muted">
        <i class="fa fa-copyright"></i>1993-2015 asiainfo.com.cn All rights reserved.
    </div>
    <div class="text-muted">
        Designed and built with all the love in the world by <a target="_blank" href="https://github.com/vintsie">@caiwm</a> and  <a target="_blank" href="http://zhoufan.org">@zhoufan</a>
    </div>
</div>