<head>
    <title>TRIS</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="TRIS - your automated test companion">
    <meta name="author" content="zhoufan">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' media="screen"/>
    <link rel="stylesheet" href="/stylesheets/common.css" media="screen">
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/javascripts/jquery-2.1.4.min.js"></script>
    <!--<script src="../js/bootstrap.min.js"></script>-->
    <script src="/javascripts/angular.js"></script>
    <script src="/javascripts/angular-route.js"></script>
    <script src="/javascripts/tris_angular.js"></script>

    <!--<base href="/">-->
</head>