<head>
    <title>TRIS</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="TRIS - your automated test companion">
    <meta name="author" content="zhoufan">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' media="screen"/>
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' media="screen"/>
    <link rel="stylesheet" href="/stylesheets/common.css" media="screen">
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/javascripts/jquery-2.1.4.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/angular.js"></script>
    <script src="/javascripts/angular-route.js"></script>
    <script src="/javascripts/tris_angular.js"></script>
    <script src="/javascripts/angular-local-storage.min.js"></script>

    <link rel="stylesheet" href="/stylesheets/bootstrap-switch.css" media="screen"/>
    <script src="/javascripts/bootstrap-switch.js"></script>

    <script src="/javascripts/parsley.min.js"></script>


    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>



    <link rel="stylesheet" href="/stylesheets/jquery.dataTables.min.css" media="screen">
    <script src="/javascripts/jquery.dataTables.min.js"></script>




    <!--<base href="/">-->
</head>