<div class="div-padding">

    <div class="daohang">
        <span class="veris-product" style="margin-right: 10px;">Veris Product</span>
        <select class="btn btn-primary" id="product">
            <option value="1.0">Veris UPC</option>
            <option value="0.32">Veris CRM 7.0</option>
        </select>
        <i class="fa fa-angle-right" style="margin-left: 10px; margin-right: 10px;"></i>
        <select class="btn-primary">
            <optgroup label="UPC">
                <option>UPC</option>
                <option>PCM</option>
                <option>PCE3</option>
                <option>DB Change</option>
                <option>Cross PRD</option>
            </optgroup>
            <optgroup label="CRM">
                <option>Order</option>
                <option>Customer</option>
                <option>Contract</option>
            </optgroup>
        </select>
    </div>

    <div role="tabpanel" style="padding: 20px; background-color: #fff; border-radius: 5px; margin-bottom: 20px;">

            <div id="toolbar" class="col-sm-12" style="border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom: 1px solid #DDD;">
                <div class="input-group col-sm-3 col-sm-offset-9" style="padding-right: 10px; padding-top: 10px; padding-bottom: 10px;">
                    <input name="userCase" type="text" class="form-control" placeholder="Search For Case Set...">
                    <span class="input-group-btn">
                        <button id="search" class="btn btn-primary" type="button">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                        <button class="btn btn-primary" id="createCaseSet">Create</button>
                    </span>
                </div>
            </div>

            <table class="row-border" id="caseSetTable" style="clear: both" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Case Set</th>
                        <th>Description</th>
                        <th>Creator</th>
                        <th>Control</th>
                    </tr>
                </thead>
            </table>
    </div>


    <div role="tabpanel" style="padding: 20px; background-color: #fff; border-radius: 5px; display: none;" id="caseSetEditPanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" id="myTab">
            <li role="presentation" class="active">
                <a href="#newCaseSet" aria-controls="newCaseSet" role="tab" data-toggle="tab">
                    <i class="fa fa-pencil-square-o"></i>
                    New Case Set
                </a>
            </li>
            <li role="presentation">
                <a href="#includeCases" aria-controls="includeCases" role="tab" data-toggle="tab" id="includeCasesNav">
                    <i class="fa fa-th-list"></i>
                    Related User Cases
                </a>
            </li>
            <li role="presentation" style="float: right;">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="linkCaseBtn">
                    <i class="fa fa-paperclip"></i>
                    Linking Cases
                </button>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="newCaseSet">

                <form class="form-horizontal" style="padding-top: 20px;">
                    <div class="form-group">
                        <label for="caseSetName" class="col-sm-2 control-label">Case Set Name</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control" id="caseSetName" placeholder="Please follow OOXX pattern...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-6">
                            <textarea class="form-control" rows="2"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>

            </div>
            <div role="tabpanel" class="tab-pane fade" id="includeCases">

                <table class="row-border" id="relatedCaseTable" style="clear: both" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>User Case ID</th>
                            <th>Name</th>
                            <th>Case Type</th>
                            <th>Description</th>
                            <th>Control</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">You are now Linking User Cases for <span id="selectedCaseSet" style="color: rgb(51, 122, 183);"></span></h4>
            </div>
            <div class="modal-body">

                <div id="toolbar" class="row" style="border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom: 1px solid #DDD;">
                    <div class="col-sm-3" style="margin-top: 15px;">
                        <select class="btn-primary">
                            <optgroup label="UPC">
                                <option>UPC</option>
                                <option>PCM</option>
                                <option>PCE3</option>
                                <option>DB Change</option>
                                <option>Cross PRD</option>
                            </optgroup>
                            <optgroup label="CRM">
                                <option>Order</option>
                                <option>Customer</option>
                                <option>Contract</option>
                            </optgroup>
                        </select>
                    </div>

                    <div class="input-group col-sm-3 col-sm-offset-9" style="padding-right: 10px; padding-top: 10px; padding-bottom: 10px;">
                        <input name="userCase" type="text" class="form-control" placeholder="Search For Case Set...">
                    <span class="input-group-btn">
                        <button id="search" class="btn btn-primary" type="button">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </span>
                    </div>
                </div>

                <table class="row-border" id="chooseCaseTable" style="clear: both" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>User Case ID</th>
                        <th>Name</th>
                        <th>Case Type</th>
                        <th>Owner</th>
                    </tr>
                    </thead>
                </table>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="link">Link !</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function() {

        var caseSetTable = $('#caseSetTable').DataTable( {
            "ajax": "/data/obj.txt",
            "columns": [
                {
                    "class":        'center',
                    "orderable":    false,
                    //"data": null,
                    //"defaultContent": '<a>123123123123</a>',
                    "render": function(data, type, row, meta){
                        debugger;
                        var pk_owner = meta.row + 1;
                        return '<a href="#" data-type="text" data-pk="'+ pk_owner +'" data-placement="top" data-title="Case Owner">'+row.case_set_name+'</a>';
                    }
                },
                { "data": "description" },
                { "data": "creator" }
            ],
            "columnDefs": [
                {
                    "targets": [ 3 ],
                    "searchable": false,
                    "orderable": false,
                    "visible": true,
                    className: "center",
                    "data": null,
                    "defaultContent": "<i class='fa fa-trash-o' style='cursor: pointer;'></i>"
                }
            ],
            "paging":   true,
            "ordering": false,
            "info":     false,
            "searching": false,
            "info":     false,
            "bLengthChange": false,
            "drawCallback": function( settings ){
            },
            "fnInitComplete": function(oSettings, json) {
                //local source
                $('#caseSetTable a').editable();
            }
        } );

        var relatedCaseTable = $('#relatedCaseTable').DataTable( {
            "ajax": "/data/objects.txt",
            "columns": [
                { "data": "case_id" },
                { "data": "case_name" },
                { "data": "case_type" },
                { "data": "description" }
            ],
            "columnDefs": [
                {
                    "targets": [ 4 ],
                    "searchable": false,
                    "orderable": false,
                    "visible": true,
                    className: "center",
                    "data": null,
                    "defaultContent": "<i class='fa fa-trash-o' style='cursor: pointer;'></i>"
                }
            ],
            "paging":   true,
            "ordering": false,
            "info":     false,
            "searching": false,
            "info":     false,
            "bLengthChange": false
        } );


        var chooseCaseTable = $('#chooseCaseTable').DataTable( {
            "ajax": "/data/objects.txt",
            "columns": [
                { "data": "case_id" },
                { "data": "case_name" },
                { "data": "case_type" },
                { "data": "owner" }
            ],
            "paging":   true,
            "ordering": false,
            "info":     false,
            "searching": false,
            "info":     false,
            "bLengthChange": false
        } );

        $('#chooseCaseTable tbody').on( 'click', 'tr', function () {
            $(this).toggleClass('selected');
        } );


        $('#link').click( function () {
            if(chooseCaseTable.rows('.selected').data().length > 0) {
                var newRows = chooseCaseTable.rows('.selected').data();
                relatedCaseTable.rows.add(newRows).draw();
                chooseCaseTable.rows('.selected').remove().draw(false);
            }
        } );

        $.fn.editable.defaults.mode = 'popup';
        //$('#caseset1').editable();

        $('#createCaseSet').click(function() {
            $('#caseSetEditPanel').css('display', '');

        });

        $('#caseSetTable tbody').on( 'click', 'tr', function () {
            if ( $(this).hasClass('selected') ) {
                $(this).removeClass('selected');
            } else {
                caseSetTable.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }

            $('#caseSetEditPanel').css('display', '');
            $('#includeCasesNav').click();

        } );

        // Add event listener for opening and closing details
        $('#userCaseTable tbody').on('click', 'td.details-control', function () {
            debugger;
            var tr = $(this).closest('tr');
            var row = userCaseTable.row( tr );
            if ( row.child.isShown() ) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child( format(row.data()) ).show();
                tr.addClass('shown');
            }
        } );

        $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });

        $('#linkCaseBtn').click(function() {
            debugger;
            if(caseSetTable.row('.selected').data()) {
                $('#selectedCaseSet').html(caseSetTable.row('.selected').data().case_set_name);
            }
        });
    } );
</script>
