<div id="detail">

    <h1 class="page-header">Hello!  I am TRIS,  Your automated test companion.</h1>

    <div class="col-sm-10 index-p">

        <p>
            TRIS is a suite of tools focusing on automating web app tests across a lot of platfroms, including different OS with different Browsers.

        </p>

        <p>
            Right now, TRIS is not a test case management system. She only care automated case Execute and Export.
        </p>

        <p>
            To get Started, you

        </p>



    </div>

</div>